@using PhotoUploader.Entities
@model List<Photo>


<h2>Загрузка фото</h2>
<div class="d-flex justify-content-center align-items-center">
    <div class="file-input-container me-2">
        <input type="file" id="fileInput" accept=".jpg, .jpeg, .png" multiple>
        <label for="fileInput" class="custom-file-label"></label>
    </div>
</div>

<div id="photoList">
    @await Html.PartialAsync("_PhotoListPartial", Model)
</div>

<script>
    $(document).ready(function () {
        // Обработчик события выбора файлов
        $('#fileInput').on('change', async function (e) {
            var files = e.target.files;

            // Отправка файлов на сервер
            var formData = new FormData();
            for (var i = 0; i < files.length; i++) {
                formData.append("files", files[i]);
            }

            $.ajax({
                url: "@Url.Action("Upload", "Photo")",
                type: "POST",
                processData: false,
                contentType: false,
                data: formData,
                beforeSend: function () {
                    // Блокируем элементы управления перед отправкой запроса
                    $("#fileInput").prop("disabled", true);
                    $("#closeBtn").prop("disabled", true);
                },
                success: function (data) {
                    $("#photoList").html(data);
                },
                complete: function () {
                    // Разблокируем элементы управления после завершения запроса
                    $("#closeBtn").prop("disabled", false);
                    $("#fileInput").prop("disabled", false);
                    $('#fileInput').val('');
                }
            });
        });
    });
</script>
